/*http://www.colourlovers.com/palette/520833/Sushi_and_Sake*/
/*http://www.colourlovers.com/palette/1559266/Kami_no_ke?widths=1;*/
body {
    background-color: #f4eed9;
    margin: 0;
    padding: 0;
}

#footer, #navbar {
    background: #393533;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    font-family: Vollkorn;
}

#navbar {
    color: #A1D429;
    border-bottom: 2px #A1D429 solid;
    padding-bottom: 10px;
    padding-top: 10px;
}

#navbar a {
    padding: 0px 5px;
    color: #FF9A52;
}

#content a{
    color: #9b3510;
}
.quote {
    /*padding: 8px 8px;*/
    margin: 0px 5px;
    border-bottom: 1px dotted #EFD9B4;
    font-family: Vollkorn;
    font-size: 1.1em;
}

.even {
    background: #F4EFDE;
}


.odd {
    background: #f4eed9;
}

.pagination {
    text-align: center;
    font-size: 1.2em;
    background: #EFD9B4;
}

.pagination a {
    border-bottom: 0px
}

.pagination a:hover {
    color: #000000;
}


.quote a {
    font-size: 28pt;
    font-weight: bold;
    color: #EFD9B4 !important;
}

.quote a:hover {
    color: #9B3510 !important;
    border-bottom: 1px dotted #9B3510;
}

a {
    color: #9B3510;
    text-decoration: none;
}
