{% extends "base.html" %}

{% macro render_pagination(pagination) %}
  <div class=pagination>
      {% if pagination.has_prev %}
          <a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo;</a>
      {% endif %}
      {%- for page in pagination.iter_pages() %}
          {% if page %}
              {% if page != pagination.page %}
                  <a href="{{ url_for_other_page(page) }}" title="Page {{page}}">∙</a>
              {% else %}
                  ∙
              {% endif %}
          {% else %}
              <span class=ellipsis>…</span>
          {% endif %}
      {%- endfor %}
      {% if pagination.has_next %}
          <a href="{{ url_for_other_page(pagination.page + 1)}}">&raquo;</a>
      {% endif %}
  </div>
{% endmacro %}

{% block content %}
    {{ render_pagination (pagination) }}
    {% for quote in quotes %}

    <div class ="quote {{ loop.cycle('odd', 'even') }}">
        <a href="{{ url_for('single_quote', id=quote.id )}}">#{{ quote.id }}</a> {{ quote.quote }}
    </div>
    {% endfor %}

    {{ render_pagination (pagination) }}
{% endblock %}
